body{
    padding: 1rem 3rem;
    height: 100dvh;
    overflow-x: hidden;
}
nav{
    position: relative;
}
@font-face {
    font-family: 'fraunces';
    src: url(/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
    font-family: 'manrope';
    src: url(/assets/fonts/manrope/static/Manrope-Regular.ttf);
}
.container{
    display: flex;
    overflow: hidden;
}
header{
    background-size: contain;
}
svg{
    position: absolute;
    z-index: -1;
    background-size: contain;
}
.head-note{
    font-family: 'fraunces';
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: 600;
    width:50%;
    
}
.head{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home-page{
    float: left;
}
#sign-up-page{
    float:right;
}
#learn-more{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: #24053e;
    background-color: #44ffa1;
    border: 4px #44ffa1 solid;
    font-weight: 700;
    font-family: 'manrope';
}
#learn-more:hover{
    background-color: #24053e;
    color:#44ffa1;
    border: 4px #44ffa1 solid;
}
#bg-pattern-1{
    position: absolute;
    right: 85%;
    bottom: 45%;
}
#bg-pattern-2{
    position: absolute;
    left: 92%;
}
#hero{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 10em;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 90px;
    width: 50px;
    height: 50px;
    margin-bottom: 3rem;
    
}
.main-note{
    font-family: 'fraunces';
    text-align: center;
    font-size: 32px;

}
.main-container p{
    font-family: 'manrope';
    font-size: 18px;
    text-align: center;
    line-height: 2;
}
.container.founder{
    padding: 20em 5em;
    position: relative;
    margin-top: 5em;
}
#founder{
    position: absolute;
    top: 5%;
    left: 12%;
}
.container.founder-note{
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    padding: 3em 4em;
    height: 45%;
}
.founder-note{
    background-color: #24053e;
    color: white;
    position: absolute;
    top: 25%;
    left: 35%;
}
.head-of-founder-note{
    font-family: 'fraunces';
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    margin: 1rem;
    padding: 0;
}
.main-of-founder-note{
    font-family: 'manrope';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 1rem;
}
.founder-note-button{
    background-color: #44ffa1;
    border: 2px #44ffa1 solid;
    color: #24053e;
    font-family: 'manrope';
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    padding: 1rem 1rem;
}
.founder-note-button:hover{
    background-color: #24053e;
    color: #44ffa1;
    border: 2px #44ffa1 solid;
}
.bg-pattern-3{
    position: absolute;
    right: 15%;
    top: 65%;
    z-index: 2;
}
.container.contact{
    padding-bottom: 4em;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.container.logo{
    justify-content: center;
    align-items: center;
    gap: 30px;
}
