body{
    width:100dvw;
    height: 100dvh;
    overflow-x: hidden;
    margin: 0;
}
nav{
    position: relative;
}
@font-face {
    font-family: 'fraunces';
    src: url(/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}
@font-face {
    font-family: 'manrope';
    src: url(/assets/fonts/manrope/static/Manrope-Regular.ttf);
}
.container{
    display: flex;
    overflow-y: hidden;
}
header{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 1440 730' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H1440V662C1440 662 1082.96 730 722 730C361.039 730 0 662 0 662V0Z' fill='%2324053E'/%3E%3C/svg%3E")fixed;
    color: white;
    padding-top: 2em;
    background-size: contain;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
}
.head-note{
    font-family: 'fraunces';
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: 600;
    max-width:30%;
}
.head{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}
nav{
    display: grid;
    justify-items: center;
    align-items: center;
}
#apply-link{
    grid-column: 3/4;
    justify-items: end;
    font-family: 'manrope';
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: lavender;
    border-bottom: 3px solid #44ffa1;
    margin-bottom: 0;
    text-decoration: none;
    
}
#apply-link:hover{
    color: #44ffa1;
    font-family: 'manrope';
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
}
#learn-more{
    padding: 1em 2em;
    font-size: 18px;
    color: #24053e;
    background-color: #44ffa1;
    border: 4px #44ffa1 solid;
    font-weight: 700;
    font-family: 'manrope';
}
#learn-more:hover{
    background-color: #24053e;
    color:#44ffa1;
    border: 4px #44ffa1 solid;
    font-size: 18px;
    font-weight: 700;
    font-family: 'manrope';
}
#bg-pattern-1{
    position: absolute;
    right: 90%;
    bottom: 55%;
}
#bg-pattern-2{
    position: absolute;
    left: 94%;
}
#hero{
    margin-top: 5em;
}
main{
    background-color: #fcf8ff;
    overflow-x: hidden;
}
.container.main{
    justify-content: center;
    margin: 5em 1em;
    gap: 30px;
}
.container-note{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 90px;
    width: 56px;
    height: 56px;
    text-align: center;
    font-family: 'fraunces';
    color: #24053e;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;

}
.main-note{
    font-family: 'fraunces';
    text-align: center;
    font-size: 32px;

}
.container-note p{
    font-family: 'manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.container.founder{
    position: relative;
    margin-top: 5em;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
}
#founder{
    position: absolute;
    right: 55%;
    top: 10px;
}
.container.founder-note{
    background-color: #24053e;
    color: white;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 700px;
    padding: 1.5em 3em;
    min-height: 410px;
    margin-right: 5em;
    top: 18%;
    left: 40%;
}
.head-of-founder-note{
    font-family: 'fraunces';
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
    margin: 0 0 20px 0;
}

.main-of-founder-note{
    font-family: 'manrope';
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 20px 0;
}

.founder-note-button{
    background-color: #44ffa1;
    border: 2px #44ffa1 solid;
    color: #24053e;
    font-family: 'manrope';
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    padding: 1rem;
}
.founder-note-button:hover{
    background-color: #24053e;
    color: #44ffa1;
    border: 2px #44ffa1 solid;
}
#bg-pattern-3{
    position: absolute;
    left: 70%;
    top: 55%;
}
footer{
    margin-top: 5rem;
}
.container.contact{
    padding-bottom: 4em;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.container.logo{
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media screen and (max-width: 1000px){
    body{
        overflow-x: hidden;
    }
    .container.head{
        position: relative;
        overflow-x: hidden;
    }
    .head-note{
        width: 80%;
    }
    #bg-pattern-1{
        right: 85%;
        top: 5%;
    }
    #bg-pattern-2{
        left: 90%;
        overflow-x: auto;
    }
    #hero{
        width: 476px;
        height: 286px;
        flex-shrink: 0;
    }
    .container.main{
        flex-direction: column;
        margin: 4em;
        gap: 30px;
    }
    .container-note{
        flex-direction: row;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .number{
        align-items: center;
        font-family: 'fraunces';
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        width: 48px;
        height: 46px;
        flex-shrink: 0;
        margin-left: 1em;
    }
    .main-note{
        font-size: 28px;
        text-align: left;
        margin-left: 1em;
    }
    .container-note p{
        font-size: 16px;
        text-align: left;
    }
    .container.founder-note{
        overflow-x: hidden;
        padding: 1em 2em;

    }
    #founder{
        width: 265px;
        height: 267px;
    }
    .head-of-founder-note{
        font-size: 48px;
        line-height: 56px;
    }
    .main-of-founder-note{
        font-size: 16px;
        line-height: 28px;
    }
    #bg-pattern-3{
        width: 173px;
        height: 137px;
    }
    .founder-note-button:hover{
        background-color: #24053e;
        color: #44ffa1;
        border: 2px #44ffa1 solid;
    }
}
@media screen and (max-width:375px){ 
    #home-page{
        width: 95.762px;
        height: 24.608px;
        flex-shrink: 0;
    }
    #apply-link{
        font-family: 'manrope';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.16px;
    }
    .head-note{
        color: white;
        text-align: center;
        font-family: 'fraunces';
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
    }
    #hero{
        width: 298.305px;
        height: 178.159px;
        flex-shrink: 0;
    }
    .number{
        margin:0;
    }
    .container-note{
        flex-direction: column;
    }
    .container-note p{
        text-align: center;
    }
    .main-note{
        margin:0;
        text-align: center;
    }
    .container.founder-note{
        align-items: center;
    }
    #founder{
        width: 265px;
        height: 267px;
    }
    .head-of-founder-note{
        font-size: 32px;
        line-height: 28px;
        text-align: center;
    }
    .main-of-founder-note{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
}